<div class="index_itu mb44 mt88" id="J_list">
	<div class="swiper-container tab_swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="v in poster">
				<!--<a href="#/detail?columnType={{v.videoType}}&id={{v.id}}&kankeId={{v.kankeId}}" class="J_a cff">-->
				<!--<a href='#/detail?zb=zb&kankeId={{v.kankeId}}&id={{v.id}}&channelID={{v.channelId}}&englishName={{v.kankeChannel}}&chaneseName={{v.channelName}}'>-->
					<img src="{{v.picUrl}}" alt="" style="width: 3.5rem;height: 2rem;">
				<!--</a>-->
			</div>
		</div>
		<div class="swiper-pagination pagination"></div>
	</div>
	<!--当前热播 -->
	<div class="J_list tyitem" style="margin-top: .01rem;" ng-show="listRB.length>0">
		<div class="topline sec-text ptr fwb">
			当前热播
			<a class="fr sec-text8989" href="#/iti_rb"><img src="img/ico_index00fr.png"></a>
		</div>
		<ul class="list ovh">
			<li class="li ng-scope" style="position: relative;" ng-repeat="v in listRB " on-finish-render-filters>
				<a href="#/detail?columnType={{v.videoType}}&id={{v.id}}&kankeId={{v.kankeId}}" class="J_a cff">
				<!--<a href='#/detail?zb=zb&kankeId={{v.kankeId}}&id={{v.id}}&channelID={{v.channelId}}&englishName={{v.kankeChannel}}&chaneseName={{v.channelName}}'>-->
					<p class="size-cover ptr ovh dsb">
						<img class="J_img loading pta lazy" lazy-src="{{v.image}}" animate-visible="true">
						<!--<span ng-if="v.edition" class="J_icotv cff dsb alic">{{v.edition}}</span>-->
					</p>
					<p class="cff sec-text-num ellipsis" ng-show="v.currentCount>0">更新至{{v.currentCount}}集</p>
					<p class="sec-text ellipsis pt5 " ng-bind="v.title"></p>
					<!--<p class="J_play thi-text lh16">-->
					<!--播放：{{v.playCount|to_wan}}-->
					<!--</p>-->
				</a>
			</li>
		</ul>
		<!--换一批-->
		<div class="alic change-btn" ng-click="changeInfo('rb')">
			<img src="img/refresh.png" />
			<p class="dsib caa">换一换</p>
		</div>
	</div>

	<!--我的直播-->
	<div class="J_list tyitem" style="margin-top: .01rem;" ng-show="listZB.length>0">
		<div class="topline sec-text ptr fwb">我的直播
			<a class="fr sec-text8989" href="#/iti_zb?columnType=film&id=274028"><img src="img/ico_index00fr.png"></a>
		</div>
		<ul class="list ovh">
			<li class="li ng-scope" ng-repeat="v in listZB " on-finish-render-filters>
				<!--<a href="#/detail?columnType={{v.videoType}}&id={{v.id}}&recommend=1" class="J_a">-->
				<a href='#/detail?zb=zb&kankeId={{v.kankeId}}&id={{v.id}}&channelID={{v.channelId}}&englishName={{v.kankeChannel}}&chaneseName={{v.channelName}}'>
					<p class="size-cover ptr ovh dsb">
						<img class="J_img loading pta lazy" lazy-src="{{v.image}}" animate-visible="true" err-lazy-src-src="img/icon_mine.jpg">
						<!--<span ng-if="v.edition" class="J_icotv cff dsb alic">{{v.edition}}</span>-->
					</p>
					<p class="fs14 ellipsis pt5 c22" ng-bind="v.title"></p>
					<p class="J_play fs12 lh16 c99 ellipsis" ng-bind="v.channelName"></p>
				</a>
			</li>
		</ul>
		<!--换一批-->
		<div class="alic change-btn" ng-click="changeInfo('zb')">
			<img src="img/refresh.png" />
			<p class="dsib caa">换一换</p>
		</div>
	</div>

	<div class="J_list tyitem" style="margin-top: .01rem;" ng-show="listTJ.length>0">
		<div class="topline sec-text ptr fwb">
			为您推荐
			<a class="fr sec-text8989" href="#/iti_tj?columnType=film&id=274028"><img src="img/ico_index00fr.png"></a>
		</div>
		<ul class="list ovh">
			<li class="li ng-scope" style="position: relative;" ng-repeat="v in listTJ " on-finish-render-filters>
				<a href="#/detail?columnType={{v.videoType}}&id={{v.id}}&recommend=1" class="J_a cff">
				<!--<a href='#/detail?zb=zb&kankeId={{v.kankeId}}&id={{v.id}}&channelID={{v.channelId}}&englishName={{v.kankeChannel}}&chaneseName={{v.channelName}}'>-->
					<p class="size-cover ptr ovh dsb">
						<img class="J_img loading pta lazy" lazy-src="{{v.image}}" animate-visible="true">
						<!--<span ng-if="v.edition" class="J_icotv cff dsb alic">{{v.edition}}</span>-->
					</p>
					<p class="cff sec-text-num ellipsis" ng-show="v.currentCount>0">更新至{{v.currentCount}}集</p>
					<p class="sec-text ellipsis pt5 " ng-bind="v.title"></p>
					<!--<p class="J_play thi-text lh16">-->
					<!--播放：{{v.playCount|to_wan}}-->
					<!--</p>-->
				</a>
			</li>
		</ul>
		<!--换一批-->
		<div class="alic change-btn" ng-click="changeInfo('tj')">
			<img src="img/refresh.png" />
			<p class="dsib caa">换一换</p>
		</div>
	</div>

</div>