<div class="mb44 mt44" id="J_list" id="J_zb">
	<!--今日看点-->
	<div class="J_list zb_list tyitem dsb" ng-show="v.epgList.length>0" ng-repeat="v in list" id="">
		<div class="p_time_block" style="">
			<img src="{{curIndex==v.index?'images/p_time2.png':'images/p_time.png'}}" style="height: inherit;"/>
		</div>
		<div class="p_time_r" style="">
			<div class="topline sec-text ptr" repeat-id="zb">
				<!--<img class="wp12" style="margin-bottom: 0.04rem;" src="img/clock2x.png" />-->
				<p class="dsib">{{v.time}}</p>
			</div>
			<div class="scrollx">			
				<ul class="list wp100 dst wsp">
					<li class="scroll_li_t dsib psr" style="width: 1rem;" ng-repeat="l in v.epgList" on-finish-render-filters>
						<a href='#/detail?zb=zb&kankeId={{l.kankeId}}&id={{l.id}}&channelID={{l.channelId}}&englishName={{l.kankeChannel}}&chaneseName={{l.channelName}}'>
						<!--<a href="#/detail?columnType={{l.videoType}}&id={{l.id}}&kankeId={{v.kankeId}}" class="J_a cff">-->
							<p class="size-cover ptr ovh dsb">
								<img class="J_img loading pta lazy" animate-visible="true" src="{{l.image}}" err-src="img/icon_mine.jpg">
							</p>
						</a>
						<!--iflive:-1回看；0直播；1未播-->
						<!--<p class="cff sec-text-num-t ellipsis">更新至多少集</p>-->
						<p class="sec-text ellipsis pt5" ng-bind="l.title"></p>
						<p class="J_play lh16 c99 fs12" ng-bind="l.channelName"></p>
						<span class="J_icoYU cff dsb alic fs11" ng-show="l.iflive==1">预约</span>
						<!--<span class="J_icoYU cff dsb alic fs11">已预约</span>-->
						<span class="J_icoTime cff dsb alic fs11 ellipsis" ng-show="l.iflive==-1">{{l.startTime}}&nbsp;&nbsp;回看</span>
						<span class="J_icoTime cff dsb alic fs11 ellipsis" ng-show="l.iflive==0">{{l.startTime}}&nbsp;&nbsp;直播</span>
						<span class="J_icoTime cff dsb alic fs11 ellipsis" ng-show="l.iflive==1">{{l.startTime}}&nbsp;&nbsp;可预约</span>
						<!--<p class="fs14 c66 alic ellipsis" ng-bind="v.startTime|time_split"></p>-->
						<div class="J_icoZB flex" ng-show="l.iflive==0">
							<p class="dsib red_dot"></p>
							<span class="cff dsb alic fs11">直播中</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--<div style="border-top: .01rem solid #eee;width: 100%;height: 2px;margin-top: .1rem;"></div>-->
	</div>
	
	<p class="_loading" id="J_loading" ng-bind="loadtext" ng-show="showLoading"></p>

</div>